{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | BIOMETRIKA{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/style_admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="bi bi-fingerprint" aria-hidden="true"></i>
        BIOMETRIKA <span class="site-name-sub">Administración</span>
    </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
